div.fullscreen {
  height: 100% !important;
}

.table-container {
  overflow-y: auto;
  padding: 0 !important;
}

.fullscreen-enabled .table-container {
  background: white;
  overflow-y: auto;
}

table.data-table {
  font-size: small;
  max-width: initial;
}

table.data-table .data-table-column {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 10ch;
}

tr th {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

tr .data-table-column:nth-of-type(1) {
  width: 9ch !important;
}

tr th:nth-of-type(1) {
  width: 9ch !important;
}

tr.selected-row {
  background: #4b4a60 !important;
  color: white !important;
}

.data-placeholder {
  background: lightgray;
}
