.gui-container {
    width: 100%;
    height: calc(100% - 3em);
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.editor-column {
    flex: 2 640px;
}

.viz-var-data-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px dotted black;
    flex: 1 320px;
    min-width: 1px; /* https://stackoverflow.com/a/14964944 */
}

.viz-var-container {
    flex: 0 0 50%;
}

.viz-var-container .tab-content {
    width: 100%;
    height: 100%;
}

.data-container {
    flex: 1 1 20px; /* https://stackoverflow.com/a/34155795 */
    overflow-y: hidden;
}

.gui-expanded {
    width: 96vw !important;
    height: 94vh !important;
    position: fixed;
    top:2vw;
    left:2vw;
    z-index: 999;
    box-shadow: 10px -10px 10px 0px #EAEAEA;
    border: 1px solid #D2D2D2;
}

.gui-normal {
    width: 100%;
    height: 100%;
}

.bi {
    width: 1em;
    height: 1em;
}